<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Node.js.redist" version="10.16.3" targetFramework="net472" />
  <package id="OutSystems.ESLint.MSBuild" version="1.0.9" targetFramework="net472" />
  <package id="ViewGenerator" version="1.0.233" targetFramework="net472" developmentDependency="true" />
  <package id="ViewGeneratorCore" version="1.0.186" targetFramework="net472" developmentDependency="true" />
  <package id="ViewPacker" version="1.0.9" targetFramework="net472" developmentDependency="true" />
</packages>