<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Delegate.SassBuilder" version="1.4.0" targetFramework="net461" />
  <package id="Microsoft.TypeScript.MSBuild" version="3.3.1" targetFramework="net461" developmentDependency="true" />
  <package id="ViewGenerator" version="1.0.127" targetFramework="net472" developmentDependency="true" />
  <package id="ViewGeneratorCore" version="1.0.163" targetFramework="net472" developmentDependency="true" />
</packages>