<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Node.js.redist" version="10.15.0" targetFramework="net461" />
  <package id="OutSystems.ESLint.MSBuild" version="1.0.7" targetFramework="net461" />
  <package id="ViewGenerator" version="1.0.208" targetFramework="net461" developmentDependency="true" />
  <package id="ViewGeneratorCore" version="1.0.179" targetFramework="net461" developmentDependency="true" />
  <package id="ViewPacker" version="1.0.8" targetFramework="net461" developmentDependency="true" />
</packages>