packages/
.csproj.user
*.user
bin
obj
*.suo
*.opendb
*.db
*.nupkg
Release/
Debug/
.vs/config/applicationhost.config
.vs/
*.js
*.tgz
*.css
*.scss.d.ts
manifest.json
WebViewControl/cake_tools
WebViewControl.Avalonia/cake_tools
launchSettings.json
*.cache
.npm-install-stamp
**/TestResults.xml

.idea
WebViewControl/FodyWeavers.xsd
WebViewControl.Avalonia/FodyWeavers.xsd
**/*.DS_Store
