packages/
.csproj.user
*.user
bin
obj
*.suo
*.opendb
*.db
*.nupkg
WebViewExample/
Release/
Debug/
Tests/ReactViewResources/testapp.js
Tests/ReactViewResources/node_modules/
.vs/config/applicationhost.config
Tests/ReactViewResources/dist/
.vs/
WebViewControl/Resources/builtin/
WebViewControl/Resources/node_modules/
ViewGenerator/tools/dist/
