<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <config>
        <add key="repositoryPath" value="packages" />
        <add key="globalPackagesFolder" value="packages" />
    </config>
    <packageRestore>
        <!-- Opt-In both Package Restore, and MSBuild-Integrated Package Restore, does not make MSBuild restore automatic -->
        <add key="enabled" value="True" />
        <!-- Opt-In Automatic Package Restore in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

    <packageSources>
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="Avalonia" value="https://nuget.avaloniaui.net/repository/outsystems-feed/" />
        <add key="AvaloniaNightlyBuilds" value="https://www.myget.org/F/avalonia-ci/api/v2" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="Nuget">
            <package pattern="*" />
        </packageSource>
        <packageSource key="Avalonia">
            <package pattern="*" />
        </packageSource>
        <packageSource key="AvaloniaNightlyBuilds">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>