<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2883.1552" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.2883.1552" targetFramework="net461" />
  <package id="CefSharp.Common" version="55.0.0" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="55.0.0" targetFramework="net461" />
  <package id="Microsoft.TypeScript.MSBuild" version="2.3.1" targetFramework="net461" developmentDependency="true" />
  <package id="WebViewControl" version="1.0.0" targetFramework="net461" />
</packages>