$someVar: "Some Fabulous Value!";

:export {
    exportedVariable: $someVar;
}

.wrapper {
    text-align: center;
}

.image {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -100;
}

.buttons-bar {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

view-frame {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
