<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3325.1749" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3325.1749" targetFramework="net461" />
  <package id="CefSharp.Common" version="65.0.0-CI2557a" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="65.0.0-CI2557a" targetFramework="net461" />
  <package id="InjectModuleInitializer" version="1.5" targetFramework="net461" developmentDependency="true" />
</packages>