<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3396.1786" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3396.1786" targetFramework="net461" />
  <package id="CefSharp.Common" version="67.0.3" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="67.0.3" targetFramework="net461" />
  <package id="InjectModuleInitializer" version="1.5" targetFramework="net461" developmentDependency="true" />
</packages>